<div class="container mt-5">
  <!-- <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="car-body">
          <div class="card" aria-hidden="true">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
              <a
                href="#"
                tabindex="-1"
                class="btn btn-primary disabled placeholder col-6"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">TARJETA CREDITO</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3>AGREGAR TARJETA</h3>
          <form [formGroup]="form" (ngSubmit)="agregarTargeta()">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="_titular"
                ><i
                  class="fa-solid fa-user"
                  [class.green-icon]="this.form.get('titular')?.valid"
                  [class.red-icon]="
                    this.form.get('titular')?.invalid &&
                    this.form.get('titular')?.touched
                  "
                ></i
              ></span>
              <input
                formControlName="titular"
                type="text"
                class="form-control"
                placeholder="Titular"
              />
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="_numeroTarjeta">
                <i
                  class="fa-solid fa-credit-card"
                  [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                  [class.red-icon]="
                    this.form.get('numeroTarjeta')?.invalid &&
                    this.form.get('numeroTarjeta')?.touched
                  "
                ></i
              ></span>
              <input
                formControlName="numeroTarjeta"
                type="text"
                class="form-control"
                placeholder="Número tarjeta"
                maxlength="16"
              />
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text" id="_fechaExpiracion">
                    <i
                      class="fa-solid fa-calendar-days"
                      [class.green-icon]="
                        this.form.get('fechaExpiracion')?.valid
                      "
                      [class.red-icon]="
                        this.form.get('fechaExpiracion')?.invalid &&
                        this.form.get('fechaExpiracion')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    formControlName="fechaExpiracion"
                    type="text"
                    class="form-control"
                    placeholder="MM/YY"
                    maxlength="5"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text" id="_cvv">
                    <i
                      class="fa-solid fa-key"
                      [class.green-icon]="this.form.get('cvv')?.valid"
                      [class.red-icon]="
                        this.form.get('cvv')?.invalid &&
                        this.form.get('cvv')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    formControlName="cvv"
                    type="password"
                    class="form-control"
                    placeholder="CVV"
                    maxlength="3"
                  />
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button
                [disabled]="this.form.invalid"
                type="submit"
                class="btn btn-primary btn-lg"
              >
                Aceptar
                <i class="fa-solid fa-check"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3>LISTADO TARJETA</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let targeta of listTarjeta">
                <th>{{ targeta.titular }}</th>
                <th>{{ targeta.numeroTarjeta }}</th>
                <th>{{ targeta.fechaExpiracion }}</th>
                <th><i class="far fa-pen-to-square text-info"></i></th>
                <th><i class="far fa-trash-can text-danger"></i></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
